<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sentimentMap_webServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SNS_servlet</display-name>
    <servlet-name>SNS_servlet</servlet-name>
    <servlet-class>sentimentMap_webServer.SNS_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SNS_servlet</servlet-name>
    <url-pattern>/SNS_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SNSservlet</display-name>
    <servlet-name>SNSservlet</servlet-name>
    <servlet-class>sentimentMap_webServer.SNSservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SNSservlet</servlet-name>
    <url-pattern>/SNSservlet</url-pattern>
  </servlet-mapping>
</web-app>